#product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    
}

.product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 2px 2px gray;
    overflow: hidden;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 400px;
}

.product-image-container {
    height: 60%;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.product-info {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}

h3 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 300;

    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    margin-top: 10px;
}