<div class="container-lg form-container">
    <h1>Iniciar sesión</h1>
    <form id="loginForm">
        <input class="form-control login-input" type="email" id="email" placeholder="Email">
        <input class="form-control login-input" type="password" id="password" placeholder="Password">
        <button class="btn btn-success login-btn" type="submit">Iniciar Sesión</button>
    </form>
    <div class="container-google">
        <button class="btn btn-light login-btn" id="btnLoginGoogle">Google Login</button>
    </div>
</div>
<script src="/js/login.js"></script>